.footer__link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.12;
  color: #ffffff;
  margin-right: 18px;
  transition: opacity 0.3s ease-in;
}

.footer__link:hover {
  opacity: 0.8;
}
