.footer__links {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: flex-start;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .footer__links {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
