.footer {
  width: 92%;
  margin: 0 auto;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0 0 24px;
    margin: 0 0 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
